#app {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.first-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20%;
}

.second-row {
  width: 100%;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
}
